.filter-list
	label
		font-weight: 300
		cursor: pointer
	.inline 
		ul 
			display: flex 
			flex-direction: row
			flex-wrap: wrap
		input 
			display: none
		li 
			padding: 0 0.5em
			&:first-child 
				padding-left: 0	
	.filter-header
		&:after 
			font-family: "Ionicons"
			content: "\f462"			