.header-upper
  .nav-auxiliary
    color: #9c9c9c
    i 
      margin-right: 0.5em
      font-size: 1.7em
      vertical-align: baseline
      color: $accent
    li 
      margin-right: 1em  
.nav-auxiliary
  ul  
    +h-nav
  li:first
    a 
      padding-left: 0px       
  a 
    color: inherit   
    padding: 0.5em
    line-height: 1
    font-weight: 300
    &:hover 
      color: $accent
.nav-upper
  text-align: right
  font-size: 1.4rem
  height: 3rem
  ul
    +h-nav  
    display: inline-block   
  a 
    color: inherit  
    height: 3rem
    padding: 0.5rem 1rem
    line-height: 1
    vertical-align: top  
  li 
    position: relative  
  li:hover 
    .dropdown
      display: block    
  .favorites 
    a 
      background-color: $accent
      color: #fff   
    span 
      height: 2rem
      line-height: 2rem
      vertical-align: middle
      font-size: 0.7em
      margin-left: 0.5em  
  .dropdown 
    display: none
    position: absolute
    text-align: left
    font-size: 0.7em
    font-weight: 300
    border: 1px solid #000 
    top: 2.8rem
    left: 0
    width: 12em  
    padding: 0.5em 0
    z-index: 10
    background-color: #fff
    color: #000
    li 
      padding: 0 1em
      float: none
      margin-bottom: 0.5em
    a 
      height: auto 
      display: block
      padding: 0
      color: inherit
      line-height: 1.4
      &:hover
        color: $accent
        // color: $accent
  .login-social-media
    padding-top: 1em
    color: inherit
    p 
      font-size: 0.8em     
      font-weight: 600
    a 
      float: left
      width: 2.5em
      border: 1px solid $border
      text-align: center
      margin-right: 0.5em
      &:hover      
        i 
          font-weight: 600    
.nav-main
  ul 
    position: relative
    +h-nav
    +clearfix
  li:first-child
    a 
      padding-left: 0  
  .dropdown 
    a:after 
      font-family: "FontAwesome"
      color: $primary
      content: "\f107"
      margin-left: 0.5em
    li
      a:after 
        display: none     
  a 
    color: #000
    font-weight: 300
    font-size: 1.2rem   
    padding: 0.5em 1em  
    line-height: 2
    display: block
    letter-spacing: 1px
  .M2
    display: none     
    position: absolute
    top: 100%
    left: 0
    right: 0   
    flex-direction: row
    justify-content: flex-start
    align-items: flex-start
    flex-wrap: wrap
    z-index: 99
    margin: 0 -4rem
    padding: 2rem 4rem
    background-color: #fff
    transition: all 0.3s ease-in-out
    opacity: 0
    border-bottom: 1px solid #e8e8e8
    border-left: 1px solid #e8e8e8
    border-right: 1px solid #e8e8e8
    li 
      width: 20%
      float: none
      margin-bottom: 1em
      padding-right: 2rem
      .style 
        border-right: 1px solid $border
        padding: 1rem 0
      &:last-child
        .style
          border: none  
    a 
      line-height: 2
      font-weight: 400       
      letter-spacing: 0px
      font-size: 1rem
      font-weight: 400
      padding: 0 0.5em
      margin-bottom: 0.5em
      text-transform: uppercase
      letter-spacing: 1px
      // color: $accent
      &:hover 
        color: $accent
  .M3 
    li
      width: 100% 
      margin-bottom: 0 
    a 
      font-weight: 300 
      border: none
      font-size: 0.9em
      line-height: 2   
      text-transform: none
      letter-spacing: 0px
      // color: #000
  .dropdown
    position: static  
    &:hover
      .M2 
        display: flex
        opacity: 1
  